@import url('https://fonts.googleapis.com/css?family=Cormorant+Upright|Josefin+Slab|Miss+Fajardose|Monsieur+La+Doulaise|Mr+Dafoe');

.headline-h2 {
    text-align: center;
    color: bisque;
    font-family: 'Josefin Slab', serif;
    /* font-family: 'Cormorant Upright', serif; */
}

.headline-h1 {
    text-align: center;
    color: bisque;
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 100px;
    padding-top: 30px;
}

.heading {
    font-family: 'Monsieur La Doulaise', cursive;
    font-size: 72px;
}

h3 {
    font-family: 'Josefin Slab', serif;
}

.btn {
    font-family: 'Josefin Slab', serif;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

.jumbotron {
    background-color: #171e4b;
    height: 300px;;
}

#question-area {
    background-color: #ffffff;
    padding: 25px;
    max-width: 960px;
    margin-top: 25px;
    margin-bottom: 100px;
    margin: auto;
    position: relative;
    height: 100%;
    display: block;
    
}

#start {
    position: absolute;
    left: 50%;
    right: 50%;
}

#timer {
    text-align: center;
}

.timer-readout {
    font-family: 'Josefin Slab', serif;
    padding-bottom: 25px;
}

#question, #answers {
    margin: auto;
    max-width: 500px;
}

#question {
    padding-bottom: 10px;
    
}

#score {
    text-align: center;
    padding-bottom: 25px;
}

h2,p {
    text-align: center;
}

img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 25px;
    max-height: 300px;
}